__pycache__/
.spyproject/
.idea/
*.npy

logs/
other/
saved_models/ 


datasets/handseg150k/images
datasets/handseg150k/masks

datasets/simple_boxes/images
datasets/simple_boxes/bboxes.txt

datasets/nyu_hand_dataset_rdf/

datasets/bighand/
!datasets/bighand/README.md
datasets/cvpr15_MSRAHandGestureDB/*
datasets/custom
datasets/*.tar

