__pycache__/
.spyproject/
.idea/
*.npy
tmp

logs/
other/
saved_models/ 
text_source/

datasets/handseg/images
datasets/handseg/masks

datasets/simple_boxes/images
datasets/simple_boxes/bboxes.txt

datasets/nyu_hand_dataset_rdf/

datasets/bighand/
!datasets/bighand/README.md
datasets/cvpr15_MSRAHandGestureDB/*
datasets/custom
datasets/custom_demo/*
datasets/*.tar

