pandas==1.2.3
numpy
joblib==1.0.1
tensorflow==2.5.0
scipy==1.6.2
pyrealsense2==2.42.0.2924
seaborn==0.11.1
tensorboard==2.4.0
tensorflow_addons==0.12.1
matplotlib==3.3.4
scikit_image==0.17.2
opencv_python==4.5.1.48
numba==0.53.1
Pillow==9.0.1
scikit_learn==0.24.2
